body {
    background-color: #f0f8ff;
    color: #ff0000;
}

#container {
    background-color: #add8e6;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #0000ff;
    border-radius: 20px;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}

main {
    display: flex;
    flex-direction: column;
}

nav {
    text-align: center;
    margin: 20px auto;
    background-color: #0000ff;
    padding: 10px;
    border-radius: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: block;
    margin: 10px 0;
}

nav li a {
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin: 0 20px;
    width: auto;
    height: auto;
    line-height: normal;
    background-color: #0000ff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    color: #0000ff;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: #ff0000;
}

p {
    color: #000;
}

#col1, #col2 {
    width: 100%;
    margin: 20px 0;
    padding: 20px;
    border: 2px solid #0000ff;
}

.heading_style {
    text-shadow: 2px 1px 2px #ff0000;
}

.important-images {
    border: 2px solid #0000ff;
    margin: 20px auto;
    padding: 10px;
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 767px) {
    #container {
        width: 90%;
    }

    main {
        flex-direction: column;
    }

    nav li {
        display: block;
        margin: 10px 0;
    }

    #col1, #col2 {
        width: 100%;
        margin: 20px 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #container {
        width: 80%;
    }

    main {
        flex-direction: row;
        flex-wrap: wrap;
    }

    nav li {
        display: inline-block;
        margin: 0 10px;
    }

    #col1, #col2 {
        width: 45%;
        margin: 20px;
    }
}

@media screen and (min-width: 1024px) {
    #container {
        width: 60%;
    }

    main {
        flex-direction: row;
        flex-wrap: wrap;
    }

    nav li {
        display: inline-block;
        margin: 0 10px;
    }

    #col1, #col2 {
        width: 45%;
        margin: 20px;
    }
}