/*global styles */

body {
    background-color: black;
    color: white;
}

a{
    color: white;

}
a:hover{
    color:white;
    text-decoration: none;
}
img{
    display: block;
    margin: 0 auto;
    width: 100%;
}


/* Mobile Styles */
#container {
    margin: 0   auto;
    background-color: blue;
    padding 10px;
    border: 2px red solid;

}

header h1 {
    text-align: align;
    font-size: 24px;
    color: black;
}

nav {
    text-align: center;
    
}
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li{
    display: block;
    }
nav ul li a {
    display: block;
    text-decoration: none;
    padding: 10px;
    background-color: black;
    color: white;
    margin-top: 10px;
}
    
@media screen and (min-width: 768px) {
    body {
        background-color: aliceblue;
    }
}

@media screen and (min-width: 1024px) {
    body {
        background-color: beige;
    }
}

/* Tablet Styles */

@media  {min-width: 768px} {
    #container {
        width: 80%;
    }
    
    body {
        background-color: blue;
    }    
    imng {
        width: 50%;
    }
    nav ul li {
        display: inline;
    }
    nav ul li a {
        display: inline;
        padding: 10px;
        margin-top: 0;
    }
    section {
        width: 50%;
    }
    section aside {
        width: 50%;
        padding: 10px;
        border: 1px solid black;
        margin: 10px;

    }
    footer {
        text-align: center

    }
    
}




/* Desktop Styles */
@media (min-width: 1024px) {
   nav {
    background-color: black;
   }
   #lower_section {
    display: flex;
   }
   .col{
    width: 33.3;
    padding: 10px;
    margin: 5px;
    border: 2px solid black;
   }
   body {
       background-image: url('../images/1.jpg'); 
       background-position: center;
       background-repeat: no-repeat;
       background-size:  cover;
       background-attachment: fixed;
   }
}